#webform {
  background-color: var(--form-background-color);
  background-color: var(--color-card-bg);
  border-radius: var(--border-radius);
  padding: 1rem;
  margin: 1rem;
}

#form-section {
  padding: 0;
}

#form-summary {
  background-color: #fff;
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}

#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

#textbox1 {
  border: 1px solid #fff;
  background-color: #dbe2f5;
  width: 50%;
  border: 1px solid #ccc;
  padding: 0.25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
}

#minutter {
  border: 1px solid #ccc;
  padding: 0.25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
  background-color: #dbe2f5;
}

/* #submit-button {
  margin-top: 1rem;
  text-align: center;
  border: 1px solid #ccc; 
  padding: .25rlh;  
   border-radius: 6px; 
   box-shadow: 0px 1px 2px #0001;
  background-color:#ffab00; 
 }  */

#submit-button input[type="submit"] {
  display: inline-block;
  background-color: #ff4b00;
  color: var(--color-text-inverted);
  border-radius: 10px;
  text-align: center;
  margin: 2rem;
  padding: 1.5rem;
}

.group1 {
  background-color: #dbe2f5;
  padding: 1rem;
  margin: 1rem;
  border-radius: var(--border-radius);
}

.group2 {
  background-color: #dbe2f5;
  padding: 1rem;
  margin: 1rem;
  border-radius: var(--border-radius);
}
